<div class="container w-25">
  <div id="clearance" class="sign-in d-grid mt-5 p-3 card bg-light">
    <h2 class="mb-4"><%= t(".title") %></h2>
    <%= render partial: '/sessions/form' %>
  </div>
</div>
